
/*  typography */
@import url("https://fonts.googleapis.com/css?family=Playfair+Display:700|Roboto:400");

@font-face {
  font-family: 'birch';
  src: url('../fonts/birchstd-webfont.woff2') format('woff2'),
       url('../fonts/birchstd-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'bariol';
  src: url('../fonts/bariol_regular-webfont-webfont.woff2') format('woff2'),
       url('../fonts/bariol_regular-webfont-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  line-height: 1.2;
  font-family: 'birch';
  -webkit-font-smoothing: antialiased;
  font-size: 15px;
  color: #4c4c4c;
}

p, .paragraph {
  font-family: 'bariol';
  font-weight: 400;
  color: #af955c;
  font-size: 15px;
  text-align: justify;
  padding: 0px 10px;
  line-height: 1.8;
}
p-lg, .paragraph-lg {
  font-size: 22px;
  font-family: 'bariol';
}

.text-style {
  column-count: 3;
  padding-top: 2%;
  
  text-align: justify;
} 

h1, h3{
  color: #000;
  font-family: 'birch';
  line-height: 1.2;
  text-shadow: 3px 3px 0px 0px rgba(66, 68, 90, 1);
  text-shadow: 8px 8px 30px 0px rgba(66, 68, 90, 0.5);
}

h2, h4, h5, h6, h7 {
  color: #000;
  font-family: "Playfair Display SC", serif;
  line-height: 1.2;
}


h1, .h1 {
  font-size: 55px;
}
@media (max-width: 991px) {
  h1, .h1 {
    font-size: 45px;
  }
}

h2, .h2 {
  font-size: 35px;
}
@media (max-width: 991px) {
  h2, .h2 {
    font-size: 25px;
  }
}

h3, .h3 {
  font-size: 19px;
  letter-spacing: 5.2px;
}
@media (max-width: 991px) {
  h3, .h3 {
    font-size: 14px;
    letter-spacing: 4.5px;
  }
}

@media (min-width: 880px) and (max-width: 1920px){
  .text-style {
    column-count: 3;
    margin-top: 2%;
      } 
}
@media (max-width: 879px) {
  .text-style {
    column-count: 2;
      } 
}
@media (max-width: 580px) {
  .text-style {
    column-count: 1;
    /* padding: 20px; */
    /* margin: 20px; */
      } 
}

h4, .h4 {
  font-size: 22px;
}

h5, .h5 {
  font-size: 18px;
}

h6, .h6 {
  font-size: 14px;
}

.container h7, .h7 {
  font-family: 'bariol';
  text-transform: uppercase;
  color: #af955c;
  font-size: 25px;
  /* margin: 0 130px; */
  /* padding: 0 60px; */
  right: -10px;
  /* margin-top: auto; */
  /* top: 100px; */
  padding-top: 15%;
  /* top: -70%; */
}
/* responywność powyżej 1919px */
@media (min-width: 1919px) {
  h7, .h7 {
    padding-top: 20%;
    /* margin-top: 15%; */
  }
}
@media (max-width: 1320px) {
  h7, .h7 {
    /* padding-top: 15%; */
  }
}
@media (max-width: 991px) {
  h7, .h7 {
    font-size: 20px;
  }
}

/* lady */
@media (min-width: 1919px) {
  #l3 {
    top: -80px;
    left: 60%;
    scale: 0.8;
  }
}
@media (max-width: 1320px) {
  .layer-bg {
    top: 132px;
  }
  #l3 {
    display: none;
    /* margin-top: 100px; */
  }
}
@media (max-width: 1111px) {

  #l3 {
    display: none;
    /* margin-top: 150px; */
  }
}
@media (max-width: 991px) {
  .layer-bg {
    top: 140px;
  }
  #l3 {
    display: none;
    /* margin-top: 170px; */
  }
}
@media (max-width: 771px) {
  .layer-bg {
    top: 140px;
  }
  #l3 {
    display: none;
    /* transform: translateX(40px);  */
  }
  .socialitems {
   display: flex;
   flex-direction: row;
   transform: translateY(-90%); 
   /* justify-content: space-between; */
   /* margin-right: 40px; */
  }
  .socialitems > * {
    margin-right: 15px;
   }
}
@media (max-width: 676px) {
  #l3 {
    display: none;
    /* margin-top: 195px;
    transform: translateX(50px);  */
  }
}
@media (max-width: 576px) {
  p, .p {
    margin-left: 10px;
    margin-right: 10px;
  }
  h7, .h7 {
    transform: translateX(20px);
  }
}
@media (max-width: 560px) {
  #l3 {
    display: none;
    /* margin-top: 220px;
    transform: scale(1.4) translateX(30%);  */
  }
}
@media (max-width: 560px) {
  .socialitems {
    transform: translateY(-40%); 
   }
   h7, .h7 {
    margin-bottom: 5%;
  }
}
@media (max-width: 468px) {
  #l3 {
    display: none;
    /* margin-top: 240px;
    transform: scale(1.5) translateX(40%);  */
  }
  h1, .h1 {
    font-size: 35px;
  }
  h3, .h3 {
    font-size: 14px;
    letter-spacing: 3px;
  }
  .naglowek {
    margin-top: -20px;
    margin-bottom: 20px;
  }
  
}
@media (max-width: 450px) {
  .socialitems {
    transform: translateY(-110%); 
   }
}
@media (max-width: 406px) {
  .layer-bg {
    top: 150px;
  }
  h3, .h3 {
    font-size: 14px;
    letter-spacing: 3px;
  }
  .hero-area h1, h3 {
    margin-left: -20px;
  }
}
@media (max-width: 389px) {
  .layer-bg {
    top: 160px;
  }
  button {
    margin: 0 auto;
  }
  /* .navbar img{
    margin-left: 0;
    scale: 0.5;
  } */
  h1, .h1 {
    margin: 0px;
  }
  .hero-area h1, h3 {
    margin-left: -30px;
  }
  .naglowek {
    margin-top: 30px;
    margin-bottom: -30px;
  }
  #l3 {
    display: none;
    /* margin-top: 290px;
    transform: scale(1.8) translateX(30%);  */
  }
  h7, .h7 {
    margin-top: 25%;
  }
  .socialitems {
    transform: translateY(140%); 
   }
}
@media (max-width: 361px) {
  .layer-bg {
    top: 160px;
  }
  #l3 {
    display: none;
    /* margin-top: 310px;
    transform: scale(1.9) translateX(30%);  */
  }
  .hero-area h1, h3 {
    margin-left: -40px;
  }
  .naglowek {
    margin-top: 30px;
    margin-bottom: -30px;
  }
}
@media (max-width: 326px) {
  .layer-bg {
    top: 160px;
  }
  .hero-area h1, h3 {
    margin-left: -50px;
  }
  .naglowek {
    margin-top: 20px;
    margin-bottom: -20px;
  }
  
  h3, .h3 {
    letter-spacing: 2.5px;
  }
}

/* @media (max-width: 1280px) {
  #l3 {
    top: -80px;
    left: 40%;
    scale: 0.6;
  }
} */
@media (max-width: 1920px) {
  #l3, img {
    max-width: 100%; /* Obrazek nie będzie większy niż szerokość kontenera */
    height: auto; /* Proporcjonalne dopasowanie wysokości */
  }
}

/* Button style */
.btn {
  font-size: 22px;
  font-family: 'bariol';
  text-transform: capitalize;
  /* padding: 16px 44px; */
  text-align: center;
  /* border-radius: 5px; */
  font-weight: 600;
  border: 0;
  position: relative;
  
  z-index: 1;
  transition: 0.2s ease;
}
.btn2 {
  font-size: 22px;
  font-family: 'bariol';
  text-transform: capitalize;
  /* padding: 16px 44px; */
  text-align: center;
  /* border-radius: 5px; */
  width: 80%;
  font-weight: 600;
  border: 0;
  position: relative;
  
  z-index: 1;
  transition: 0.2s ease;
  
}
.btn:focus {
  outline: 0;
  box-shadow: none !important;
}
.btn:active {
  box-shadow: none;
  
}
.btn-sm {
  font-size: 15px;
  padding: 10px 30px;
}
.btn-xs {
  padding: 5px 10px;
  font-size: 15px;
}

/* więcej */
.btn-primary {
  background: #cbae7a;
  color: #fff;
}
.btn-primary:active {
  background: #624a39 !important;
}
.btn-primary:hover {
  background: #624a39;
}
.btn-primary.focus, .btn-primary.active {
  background: #624a39 !important;
  box-shadow: none !important;
}

/* więcej  beż*/
.btn-transparent {
  background: transparent;
  color: #af955c;
  font-weight: bold;
}
.btn-transparent:active, .btn-transparent:hover {
  color: #624a39;
}

.linia {
  width: 100vh;
  height: 1px;
  background: linear-gradient(to right, rgba(203, 174, 122, 1), rgba(203, 174, 122, 1), rgba(203, 174, 122, 0));
  left: 0;
}

body {
  background-color: #fff;
  overflow-x: hidden;
}

::-moz-selection {
  background: #61a583;
  color: #fff;
}

::selection {
  background: #af955c;
  color: #fff;
}

/* preloader */
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
}

ol,
ul {
  list-style-type: none;
  margin: 0px;
}

.list-unstyled {
  top: 10vh;
}

img {
  vertical-align: middle;
  border: 0;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

a,
button,
select {
  cursor: pointer;
  transition: 0.2s ease;
}
a:focus,
button:focus,
select:focus {
  outline: 0;
}

a.text-dark:hover {
  color: #362925 !important;
}

a:hover {
  color: #362925;
}
.usluga {
  padding-bottom: 70px;
}

.slick-slide {
  outline: 0;
}

.section {
  padding-top: 80px;
  padding-bottom: 80px;
}
.section-title {
  margin-bottom: 80px;
  font-family: "Playfair Display", serif;
}

.bg-cover {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

/* overlay */
.overlay {
  position: relative;
}
.overlay::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: #000;
  opacity: 0.5;
}

.outline-0 {
  outline: 0 !important;
}

.d-unset {
  display: unset !important;
}

/* tlo hero-area */
.bg-primary {
  background: #ffffff !important;
}

.bg-gray {
  background: #eaeaea !important;
}

.baner {
  width: 100%;
  /* height: 100px; */
  /* position: relative; */
  position: fixed;
  background-image: url(../images/baner.jpg);
  background-size: cover;
  background-position: center center;
  /* opacity: 20%; */
}
.baner-main {
  width: 100%;
  /* height: 100px; */
  /* position: relative; */
  position: fixed;
  background-image: url(../images/baner_lady.png);
  background-size: cover;
  background-position: center center;
  /* opacity: 20%; */
}

.text-primary {
  color: #362925 !important;
}

.text-color {
  color: #4c4c4c;
}

.text-dark {
  color: #000 !important;
}

.text-light {
  color: #999999 !important;
}

.mb-10 {
  margin-bottom: 10px !important;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.mb-30 {
  margin-bottom: 30px !important;
}

.mb-40 {
  margin-bottom: 40px !important;
}

.mb-50 {
  margin-bottom: 50px !important;
}

.mb-60 {
  margin-bottom: 60px !important;
}

.mb-70 {
  margin-bottom: 70px !important;
}

.mb-80 {
  margin-bottom: 80px !important;
}

.mb-90 {
  margin-bottom: 90px !important;
}

.mb-100 {
  margin-bottom: 100px !important;
}

.zindex-1 {
  z-index: 1;
}

.rounded-lg {
  border-radius: 15px;
}

.overflow-hidden {
  overflow: hidden;
}

.font-secondary {
  font-family: "Playfair Display", serif !important;
}

.font-tertiary {
  font-family: 'birch' !important;
  background: #AF955C;
  background: radial-gradient(circle farthest-corner at center center, #AF955C 0%, #E3C493 50%, #AF955C 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.font-tertiary-second {
  font-family: 'birch' !important;
  font-size: 55px;
  /* background: #000000;
  background: radial-gradient(circle farthest-corner at center center, #AF955C 0%, #E3C493 50%, #AF955C 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
}

.shadow {
  box-shadow: 0px 18px 39.1px 6.9px rgba(211, 211, 211, 0.34) !important;
}

.bg-dark {
  background-color: #222222 !important;
}

/* icon */
.icon {
  font-size: 45px;
}

.icon-bg {
  height: 100px;
  width: 100px;
  line-height: 100px;
  text-align: center;
}

/* ikony */
.icon-light {
  color: #efd9c8;
}

/* /icon */
/* slick slider */
.slick-dots {
  text-align: center;
  padding-left: 0;
}
.slick-dots li {
  display: inline-block;
  margin: 2px;
}
.slick-dots li.slick-active button {
  background: #fff;
  width: 25px;
}
.slick-dots li button {
  height: 6px;
  width: 12px;
  background: rgba(255, 255, 255, 0.5);
  color: transparent;
  border-radius: 10px;
  overflow: hidden;
  transition: 0.2s ease;
  border: 0;
}

/* /slick slider */
/* form */
.form-control {
  border: 0;
  border-radius: 0;
  border-bottom: 1px solid #c7c7c7;
  height: 60px;
}
.form-control:focus {
  border-color: #362925;
  outline: 0;
  box-shadow: none !important;
}

.section .line-dec {
	width: 90%;
  margin: 0 auto;
	height: 2px;
  margin-bottom: 20px;
	background-color: rgba(225, 225, 225, 0.5);
}

textarea.form-control {
  height: 120px;
}

/* /form */
/* card */
.card {
  border: 0;
}
.card-header {
  border: 0;
}
.card-footer {
  border: 0;
}
.card-title {
  position: absolute;
  z-index: 2;
  inset: 0;
  font-family: 'bariol';
  text-align: center;

  margin: 0 auto;
  line-height: 70px;
  
  
}
.card-title a {
  color: #cbae7a;
  text-decoration: none;
}
.wroc {
  color: #cbae7a;
  font-size: 17px;
  text-decoration: none;
}
/* .card-title p{
  opacity: 0;
}
.card .img-wrapper {
position: relative;
overflow: hidden;
}
.img-wrapper > .card {
display: block;
width: 100%;
object-fit: cover;
object-position: center;
}
.img-wrapper > .content {
position: absolute;
background: rgba(255, 255, 255);
} */

/* .card-title h4 {
  border-style: dotted;
  border-width: 2px;
  background-color: #fff;
} */
.border {
  max-height: 70px;
  width: 80%;
  margin: auto;
  padding: 1px;
  border: 1px solid #c9ae82;
  z-index: 12;
 
}

/* /card */
.navigation {
  padding: 40px 100px;
  transition: 0.3s ease;
}
.navigation.nav-bg {
  background-color: #274333;
  padding: 15px 100px;
}
@media (max-width: 1320px) {
  .navigation.nav-bg {
    padding: 15px 20px;
  }
}
@media (max-width: 1320px) {
  .navigation {
    padding: 20px;
    background: #274333;
  }
}

.navbar .nav-item .nav-link {
  font-family: 'bariol';
  text-transform: uppercase;
  padding: 15px;
}
.navbar .nav-item.active {
  font-weight: bold;
}

/* tekst nawigacja */
.navbar-dark .navbar-nav .nav-link {
  color: #af955c;
}

.hero-area {
  padding-top: 190px;
  position: relative;
}
@media (max-width: 767px) {
  .hero-area {
    padding-top: 200px;
    overflow: hidden;
  }
}
.hero-area h1, h3 {
  position: relative;
  z-index: 2;
  top: -10px;
  left: 60px;
}

.layer {
  position: absolute;
  z-index: 1;
}

#l1 {
  bottom: 0;
  left: 0;
}

#l2 {
  top: -90px;
  /* left: 30%; */
  transform: translateX(65%);
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  /* top: 20%;
    left: 60%;
    transform: translate(-50%, -50%); */
  scale: 0.80;
}
#l3 {
  top: -90px;
  left: 35%;
  scale: 0.8;
}
/* @media (max-width: 768px) {
  .element {
      padding: 5px;
      margin: 10px;
  }
} */

.layer-bg {
  position: relative;
  z-index: 1;
  bottom: 0;
  left: 0;
  /* background-image: url(/images/baner_lady.png); */
  /* top: -90px; */
}

/* skills */
.progress-wrapper {
  height: 130px;
  overflow: hidden;
}

.wave {
  position: absolute;
  width: 100%;
  height: 100%;
}
.wave::before, .wave::after {
  content: "";
  position: absolute;
  width: 800px;
  height: 800px;
  bottom: 0;
  left: 50%;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 45%;
  transform: translateX(-50%) rotate(0);
  -webkit-animation: rotate 6s linear infinite;
          animation: rotate 6s linear infinite;
  z-index: 10;
}
.wave::after {
  border-radius: 47%;
  background-color: rgba(255, 255, 255, 0.9);
  transform: translateX(-50%) rotate(0);
  -webkit-animation: rotate 10s linear -5s infinite;
          animation: rotate 10s linear -5s infinite;
  z-index: 20;
}

@-webkit-keyframes rotate {
  50% {
    transform: translateX(-50%) rotate(180deg);
  }
  100% {
    transform: translateX(-50%) rotate(360deg);
  }
}

@keyframes rotate {
  50% {
    transform: translateX(-50%) rotate(180deg);
  }
  100% {
    transform: translateX(-50%) rotate(360deg);
  }
}
/* /skills */
/* education */
.edu-bg-image {
  position: absolute;
  left: 0;
  top: -300px;
  z-index: -1;
}

/* /education */
/* service */
.hover-bg-primary {
  transition: 0.3s ease;
}
.hover-bg-primary:hover {
  background: #362925;
}
.hover-bg-primary:hover * {
  color: #fff;
}

.active-bg-primary {
  transition: 0.3s ease;
  background: #362925;
}
.active-bg-primary * {
  color: #fff;
}

.hover-shadow {
  transition: 0.2s ease;
}
.hover-shadow:hover {
  box-shadow: 0px 18px 40px 8px rgba(211, 211, 211, 0.34) !important;
}

/* /service */
/* portfolio */
.hover-wrapper {
  overflow: hidden;
}
.hover-wrapper img {
  transition: 0.3s ease;
  transform: scale(1.1);
}
.hover-wrapper:hover img {
  transform: scale(1);
}
.hover-wrapper:hover .hover-overlay {
  opacity: 1;
  visibility: visible;
}

.hover-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: inherit;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  opacity: 0;
  visibility: hidden;
  transition: 0.3s ease;
}

.hover-overlay .btn {
  color: #cbae7a;
}

.hover-content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  text-align: center;
  padding-top: 150px;
}

/* /portfolio */
/* testimonial */
.testimonial-content strong {
  color: #ffc800;
  font-weight: normal;
}

.testimonial-bg-shapes .container {
  position: relative;
  z-index: 1;
}
.testimonial-bg-shapes .bg-map {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.testimonial-bg-shapes .bg-shape-1 {
  position: absolute;
  left: 100px;
  top: -50px;
}
.testimonial-bg-shapes .bg-shape-2 {
  position: absolute;
  right: 150px;
  top: 50px;
}
.testimonial-bg-shapes .bg-shape-3 {
  position: absolute;
  right: 50px;
  top: 200px;
}
.testimonial-bg-shapes .bg-shape-4 {
  position: absolute;
  left: 100px;
  bottom: 200px;
}
.testimonial-bg-shapes .bg-shape-5 {
  position: absolute;
  right: 200px;
  bottom: -50px;
}

/* /testimonial */
/* footer */
.footer-section {
  padding-top: 200px;
}

.section-on-footer {
  margin-bottom: -250px;
}

.shadow-down {
  position: relative;
}
.shadow-down::before {
  position: absolute;
  content: "";
  box-shadow: 0px 0px 80.75px 14.25px rgba(211, 211, 211, 0.34);
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  z-index: -1;
}

/* /footer */
.card-lg {
  flex-direction: row-reverse;
  align-items: center;
}
@media (max-width: 991px) {
  .card-lg {
    flex-direction: column;
  }
}


blockquote {
  font-family: "Playfair Display", serif;
  display: inline-block;
  padding: 20px 25px;
  background: #eaeaea;
  border-left: 3px solid #362925;
  font-style: italic;
  font-size: 14px;
  line-height: 1.7;
}

/* SPECJALIZACJE */
.content * {
  margin-bottom: 20px;
}
.content strong {  
  font-family: "Playfair Display", serif;
  font-size: 22px;
  font-weight: normal;
  color: #c9ae82;
  display: inherit;
  line-height: 1.5;
}

.content img {
  display: block;
  box-shadow: 8px 8px 0px 0px rgba(201, 174, 130, 0.5);
}

.page-title-alt {
  padding: 350px 0 70px;
}

.border-thick {
  border: 10px solid;
}

.drag-lg-top {
  margin-top: -230px;
}
@media (max-width: 991px) {
  .drag-lg-top {
    margin-top: 0;
  }
}

.page-title-alt .container {
  position: relative;
  z-index: 1;
}
.page-title-alt .bg-shape-1 {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
}
.page-title-alt .bg-shape-2 {
  position: absolute;
  left: 70px;
  top: 100px;
}
.page-title-alt .bg-shape-3 {
  position: absolute;
  left: 30%;
  top: 50px;
  transform: rotate(180deg);
}
.page-title-alt .bg-shape-4 {
  position: absolute;
  left: 100px;
  bottom: 100px;
}
.page-title-alt .bg-shape-5 {
  position: absolute;
  left: 40%;
  bottom: -25px;
}
.page-title-alt .bg-shape-6 {
  position: absolute;
  bottom: 100px;
  right: -100px;
}

.page-title {
  padding: 250px 0 150px;
}
.page-title .container {
  position: relative;
  z-index: 1;
}

.container-light {
  position: relative;
  background-color: #e1dbc7;
  width: 100%;
  height: 51rem;
  margin: 0 auto;
  top: -12rem;
}

.page-title .bg-shape-1 {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}
.page-title .bg-shape-2 {
  position: absolute;
  left: -20px;
  top: -10px;
}
.page-title .bg-shape-3 {
  position: absolute;
  left: 10%;
  top: 100px;
}
.page-title .bg-shape-4 {
  position: absolute;
  left: 50%;
  top: -20px;
}
.page-title .bg-shape-5 {
  position: absolute;
  left: 90px;
  bottom: -50px;
  transform: rotate(180deg);
}
.page-title .bg-shape-6 {
  position: absolute;
  right: 20%;
  bottom: -20px;
}
.page-title .bg-shape-7 {
  position: absolute;
  right: -220px;
  bottom: -100px;
}

.filter-controls li {
  cursor: pointer;
}
.filter-controls li.active {
  font-weight: bold;
}

li i {
  color: #000;
}
/*# sourceMappingURL=style.css.map */

/* background: #542cb7; błękitny oryginalny */
